<div class="wrapper">
  <div class="inner">
    <div class="col-l">
      <mat-list>
        <mat-list-item>アートモザイク作成<mat-divider></mat-divider></mat-list-item>
        <mat-list-item>作品一覧<mat-divider></mat-divider></mat-list-item>
      </mat-list>
      <!-- <p></p>
      <button mat-raised-button color="primary">Create address</button>
      <div class="status">{{ generateAccount.status }}</div>
      <div class="generated-account-info">
        <p><span>New address：</span><br>{{ generateAccount.address }}</p>
        <p><span>Private key：</span><br>{{ generateAccount.privateKey }}</p>
      </div> -->
    </div>
    <div class="col-r">
      <mat-horizontal-stepper>
        <mat-step label="アカウント作成">
          <form [formGroup]="createWalletFrom">
            <div mat-dialog-content>
              <h2>アカウント作成</h2>
              <mat-form-field>
                <input formControlName="walletName" ngDefaultControl matInput placeholder="ウォレット名">
              </mat-form-field>
              <mat-form-field>
                <input formControlName="password" minlength="8" ngDefaultControl matInput placeholder="パスワード">
              </mat-form-field>
            </div>
            <p class="text-attenntion" *ngIf="walletCreateStatus">Attenntion：ウォレットデータを必ずダウンロードしてください</p>
            <div mat-dialog-actions>
              <button mat-raised-button color="primary" (click)="openDialog()">作成</button>
              <button *ngIf="walletCreateStatus" mat-raised-button color="accent" (click)="dlWalletData()" class="btn-dl">ダウンロード</button>
            </div>
          </form>
        </mat-step>
        <mat-step label="ネームスペース登録">
          <form [formGroup]="generateNamespaceForm" class="form">
            <mat-form-field>
              <mat-label>親ネームスペース</mat-label>
              <mat-select [(value)]="selected">
                <mat-option value="">新規ルート</mat-option>
                <mat-option *ngFor="let ns of nameSpaces" value="ns.name">{{ ns.name }}</mat-option>    
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input formControlName="namaspace" matInput placeholder="新規ネームスペース名">
            </mat-form-field>
            <mat-form-field>
              <input matInput disabled placeholder="アドレス(受信側)" value="TAMESP-ACEWH4-MKFMBC-VFERDP-OOP4FK-7MTDJE-YP35">
              </mat-form-field>
            <mat-form-field>
              <input matInput disabled placeholder="トランザクション手数料" value="0.150000 XEM">
            </mat-form-field>
            <mat-form-field>
              <input matInput disabled placeholder="ネームスペースレンタル料" value="10.000000 XEM">
            </mat-form-field>
            <mat-form-field>
              <input matInput formControlName="password" placeholder="Password">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="regiterNamespace()">登録</button>
          </form>
        </mat-step>
        <mat-step label="モザイク作成">
          Create mosaic
        </mat-step>
        <mat-step label="モザイク送付">
          Transfer
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>